.team {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  &.rev {
    flex-direction: row-reverse;
    h2 {
      text-align: left;
    }
  }
  h2 {
    text-align: right;
    font-family: "Oswald";
    font-size: 36px;
  }
}
