@import "../../styles/mixins";

header {
  position: relative;
  background: url("../../assets/pics/home01.jpg");
  background-size: cover;
  background-position: right;
  min-height: 100vh;
  padding: 20px 8vw;
  padding-bottom: 60px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  .btn {
    margin-top: 50px;
  }

  .content {
    margin: auto 15vw;
    margin-top: 120px;
    max-width: 570px;
    text-align: left;
    color: white;

    @media (max-width: 992px) {
      margin: auto 0;

      .quote {
        h1.offMarg {
          margin-left: -4vw;
        }
      }
    }

    @include Hero("dark");

    .quote {
      .offMarg {
        margin-left: -9vw;
      }
      h1 {
        font-family: "Oswald";
        letter-spacing: 0;
      }
      h2,
      h3 {
        font-weight: 200;
        letter-spacing: 0;
        text-transform: capitalize;
      }
      .comp {
        display: flex;
        .colored {
          margin: 15px;
        }
      }
    }
    p.desc {
      margin-top: 20px;
    }
  }
}
